<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LTMT4_NguyenTruongSon.Properties.Settings.LTMT4_NguyenTruongSonConnectionString"
            connectionString="Data Source=LAPTOP-MPN2R439\SQLEXPRESS;Initial Catalog=LTMT4-NguyenTruongSon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>